{"configSettings":[{"appID":"voiceSDK_en","serverToken":""},{"appID":"SharedServerToken","serverToken":"UOUT5BZIJPRAQA6BTXOUPTGEQDA6ROJC"},{"appID":"478921351977749","serverToken":"I75QCZZBPXDRHKWPWLKRFLBBZVVHJNNC"},{"appID":"voiceSDK_ja","serverToken":""},{"appID":"500081866523437","serverToken":"UOUT5BZIJPRAQA6BTXOUPTGEQDA6ROJC"}]}